<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer> 
        const link=document.querySelectorAll(".nav a")
        console.log(link)
        link[1].classList.add('active')
        </script>
        <link rel="stylesheet" href="aboutUs.css">
</head>
<body>
    <div id="about">
        <div class="container">
            <div class="prvi">
                <div class="gornji-deo">
                    <div class="text">
                        <h1>About Us.</h1>
                    </div>
                </div>
                <div class="donji-deo">
                   
                </div>
            </div>
        </div>
    
        <div class="container">
            <div class="drugi">
                <div class="levi-deo">
                    <div class="text">
                        <h2>Lorem ipsum?</h2>
                    </div>
                </div>
                <div class="desni-deo">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero delectus asperiores laborum alias, modi accusantium recusandae temporibus laudantium non deleniti omnis quod veritatis possimus aliquam ad praesentium explicabo assumenda nemo?</p>
                </div>
            </div>
        </div>
    
        <div class="container">
            <div class="treci">
                <div class="text">
                    <p>Lorem ipsum <span>sit amet consectetur adipisicing elit. </span>Reiciendis voluptate nihil eaque mollitia placeat <span>reprehenderit architecto veniam voluptatum, </span>dolor repellendus odio tenetur debitis consequuntur? <span> Ipsum iste vero perferendis</span> nostrum eius?</p>
                </div>
            </div>
        </div>
    
    
    
    
    
    
    
    
    </div>
</body>
</html>