<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer> 
        const link=document.querySelectorAll(".nav a")
        console.log(link)
        link[1].classList.add('active')
        </script>
        <link rel="stylesheet" href="aboutUs.css">
</head>
<body>
    <div id="about">
        <div class="container">
            <div class="prvi">
                <div class="gornji-deo">
                    <div class="text">
                        <h1>O Nama.</h1>
                    </div>
                </div>
                <div class="donji-deo">
                   
                </div>
            </div>
        </div>
    
        <div class="container">
            <div class="drugi">
                <div class="levi-deo">
                    <div class="text">
                        <h2>Ko smo mi?</h2>
                    </div>
                </div>
                <div class="desni-deo">
                    <p>Dobro dosao na jedino mesto koje moze da ti obezbedi <span>slike koje zelis</span> na mestu na kojem <span>ti hoces!</span>
                </div>
            </div>
        </div>
    
        <div class="container"> 
            <div class="treci">
                <div class="text">
                    <p>Mi smo novonastala kompanija posvecena donosenju <span>Vasih slika do Vas.</span></p>
                    Sada konacno mozete da uradite sve one slike koje zelite da uradite vec neko vreme,<span>a nikako da se setite.</span>Sa samo nekoliko klikova imate priliku da se te slike <span>stvore na Vasoj adresi.</span>
                </div>
            </div>
        </div>
    
    
    
    
    
    
    
    
    </div>
</body>
</html>