<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer> 
    const link=document.querySelectorAll(".nav a")
    link[0].classList.add('active')
    </script>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div id="home">
        <div class="prvi">
            <div class="container">

                <div><h2><span>Dobro došli</span> na mesto koje <br> garantuje <span> uspomene.</span></h2></div>
                
            </div>
            
        </div>

        <div class="container">
            <div class="img">
                <div class="text1"><p>Želite da ovekovečite najsrećnije <br>
                     trenutke sa porodicom ili prijateljima?</p>
                    <h2>Nije problem,
                        <br>
                        poručite sada!</h2>
    </div>
    <div class="button"><a href="/send">Naruči.</a></div>

            </div>
        </div>
        <div class="container">
            <div class="trece">
                <div class="natpiss">
                    <div class="stvari j"></div>
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ratione, laudantium numquam enim molestiae esse vero corporis sunt possimus adipisci aliquam atque quia, soluta, natus omnis eligendi totam est cum?</p>
                    </div>
                </div>
                <div class="natpiss">
                    <div class="stvari d"></div>
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ratione, laudantium numquam enim molestiae esse vero corporis sunt possimus adipisci aliquam atque quia, soluta, natus omnis eligendi totam est cum?</p>
                    </div>
                </div>
                <div class="natpiss">
                    <div class="stvari t"></div>
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ratione, laudantium numquam enim molestiae esse vero corporis sunt possimus adipisci aliquam atque quia, soluta, natus omnis eligendi totam est cum?</p>
                    </div>
                </div>
                <div class="natpiss">
                    <div class="stvari c"></div>
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ratione, laudantium numquam enim molestiae esse vero corporis sunt possimus adipisci aliquam atque quia, soluta, natus omnis eligendi totam est cum?</p>
                    </div>
                </div>
            </div>

        </div>


        <div class="container">
            <div class="cetvrto">
                <div class="cetvrtoa">
                    <div class="heading"><h2>Lorem ipsum <span>dolor,sit amet .</span> </h2></div>
                    <div class="text4"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, non? Quas cumque unde voluptatum natus non voluptate ullam libero nam beatae! Amet repellendus officiis laboriosam ullam veniam fugiat dignissimos at.</p></div>

                </div>
                <div class="cetvrtob">
                  <div class="boxholder">

                    <div class="box">
                        <div class="logo"></div>
                        <div class="textbox">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, rerum sit voluptas eaque.</div>
                    </div>

                    <div class="box">
                        <div class="logo"></div>
                        <div class="textbox">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, rerum sit voluptas eaque.</div>
                    </div>




                  </div>

                  <div class="boxholder">

                    <div class="box">
                        <div class="logo"></div>
                        <div class="textbox">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, rerum sit voluptas eaque.</div>
                    </div>

                    <div class="box">
                        <div class="logo"></div>
                        <div class="textbox">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, rerum sit voluptas eaque.</div>
                    </div>




                  </div>
                </div>
                
            </div>
        </div>

        <div class="container">
            <div class="peti">
                <div class="levi-deo">
                    <div class="h2"><h2>Lorem <span> ipsum </span> sit dolor.</h2></div>
                </div>
                <div class="desni-deo">
                    <div class="h4">
                        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    </div>
                    <div class="p"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, aliquid nam, pariatur fugit totam officia neque commodi voluptatum accusantium iure fuga in laudantium maxime repellendus, deleniti ex ab cum quos!</p></div>
                    <div class="dugme"><a href="#">Click me!</a></div>
                </div>

            </div>
        </div>
    </div>

</body>
</html>