<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer> 
        const link=document.querySelectorAll(".nav a")
        console.log(link)
        link[3].classList.add('active')
        </script>
</head>
<body>
     <%imgSrc.forEach(file=>{ %> 
        <div>
            <img src=<%='/images/'+file%>   alt="" width="200px" height="100px"> 
        </div>
   <% }) %> 
   <div>
    <h1>UR EMAIL IS:</h1>
    <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox" target="_blank"><%= email %> </a>
    <%= numberOfCopies%>
   </div>

  
</body>
</html>