<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer> 
        const link=document.querySelectorAll(".nav a")
        console.log(link)
        link[3].classList.add('active')
        </script>
        <link rel="stylesheet" href="imageUploaded.css">
</head>
<body>
    <div class="container prvo">
        <div class="slika">
            <div class="oblastnaslici">
                <div class="text"><h1>Hvala Vam na saradjivanju!</h1></div>
                  <div class="sve-slike">
                    <p>Proverite Vase Slike:</p>
                     <% if (imgSrc < 5){ %>
                        <% console.log('hdadasi')%>
                        <% } %>
                    <%imgSrc.forEach(file=>{ %> 
                       <div class="slikam">
                           <img src=<%='/images/'+file%> width="150px" height="100px"> 
                       </div>
                  <% }) %>
               </div>
                <p> Proverite Vas Gmail:</p>     
                <div class="imejl">
                    <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox" target="_blank"><%= email %> </a>
                </div>    
            </div>
           
              <div>
           
               


        </div>
    </div>
 
</body>
</html>