<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Subject: <h1><%=locals.subject %> </h1>
    Email: <h1><%=locals.email %> </h1>
    Text: <h1><%=locals.text %> </h1>
    Proverite email: <a href="<%= locals.email %> "></a>
</body>
</html>