<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- CSS SLIDER -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
<!-- CSS SLIDER -->
<!-- SLIDER SCRIPT -->
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js" defer></script>
<!-- SLIDER SCRIPT -->
    <link rel="stylesheet" href="usluge.css">
    <script src="usluge.js" defer></script>
</head>
<body>
    <div id="usluge">
        <div class="container">
            <div class="prvi">
                <div class="gornji-deo">
                    <div class="text">
                        <h1>Usluge.</h1>
                    </div>
                </div>
                <div class="donji-deo">
                   
                </div>
            </div>
        </div>
        


        <div class="container">
            <div class="drugi">
                <div class="gornji-text">
                    <div class="heding"><h3>Izrada slika</h3></div>
                    <div class="text"><p>Slike mozemo izradjivati u u svim dimenzijama, a ispod se nalaze samo neke od satandardnih dimenzija.</p></div>
                </div>

<div class="swiper-holder">
    <div class="swiper-button-prev"></div>


                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><div class="slika uslugej"><h3>Fotografija 9x13
                        </h3> <p><span>Cena: </span>35din</p></div></div>
                        <div class="swiper-slide"><div class="slika usluged"><h3>Fotografija 10x15
                        </h3> <p><span>Cena: </span>45din</p></div></div>
                        <div class="swiper-slide"><div class="slika usluget"><h3>Fotografija 13x18
                        </h3> <p><span>Cena: </span>55din</p></div></div>
                        <div class="swiper-slide"><div class="slika uslugec"><h3>Fotografija 15x21
                        </h3> <p><span>Cena: </span>120din</p></div></div>
                       
                        
                    </div>
                 

                </div>

                <div class="swiper-button-next"></div>

            </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>