<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- CSS SLIDER -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
<!-- CSS SLIDER -->
<!-- SLIDER SCRIPT -->
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js" defer></script>
<!-- SLIDER SCRIPT -->
    <link rel="stylesheet" href="usluge.css">
    <script src="usluge.js" defer></script>
</head>
<body>
    <div id="usluge">
        <div class="container">
            <div class="prvi">
                <div class="gornji-deo">
                    <div class="text">
                        <h1>Usluge.</h1>
                    </div>
                </div>
                <div class="donji-deo">
                   
                </div>
            </div>
        </div>
        


        <div class="container">
            <div class="drugi">
                <div class="gornji-text">
                    <div class="heding"><h3>Slide meni</h3></div>
                    <div class="text"><p>Brate vidi kako je cool ovaj slide mani.</p></div>
                </div>


                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swipper-slide">Slide 1</div>
                        <div class="swipper-slide">Slide 2</div>
                        <div class="swipper-slide">Slide 3</div>
                        <div class="swipper-slide">Slide 4</div>
                        
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>