*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    --displayAfter-:none;

}
.container::after{

position: fixed;
display: var(--displayAfter-);
width: 1000%;
height: 1020vh;
transform:translateY(-35%);
z-index: 4;
content: '';
background-color: rgb(0, 0, 0);
opacity: .4;
}
footer{
    display: none;
}
.container{
    position: relative;
    display: flex;
    min-height: 110vh;
    text-align: center;
    align-items: center;
    margin-top:10px;
    margin-bottom:-50px;
}
.container .img{
    background-image: url(./imagesForSite/Zugpsitze_mountain.jpg);
    position: relative;
    text-align: center;
    width: 75%;
    height: 110vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container .img::after{
content: '';
height: 100%;
width: 100%;
background-color: black;
opacity: 0.25;
position: absolute;
top: 0;
left: 0;
}

.container .img .text{
    z-index: 1;
    font-size: var(--font-size-mid);
    position:absolute;
    width: 50%;
    color: white;
    top: 50%;
    transform: translateY(-50%);
}


.container .forma{  
    display: flex;
    flex-direction: row;
    height: 110vh;
    width: 25%;
    min-width:250px;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
}
.container .forma input{
    padding: 10px;
    margin: 5px 20px;
    outline: none;
    width: 200px;
    max-width: 400px;
    border-radius: 0;
    border: 1px #646464 solid;
}



#text{
    margin-top: 100px;
    margin-left:100px ;
}

.naruci-cena{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    max-width:600px ;
    background-color: rgb(240, 240, 240);
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    border-radius: 50px;
    border: 1px solid black;
    height: 60vh;
}
.naruci-cena input{
   
    max-width: calc(200px);
}
.flex{
    display: flex !important;
    z-index: 5 !important;

}

.naruciSliku{
    transition: .5s;
padding: 10px;
margin: 5px auto;
outline: none;
width: 200px;
border-radius: 0;
border: 1px #646464 solid;
border-radius: 20px;
background-color: rgb(220,220,220);
cursor: pointer;
}
.naruciSliku:hover{

    background-color: rgb(111, 111, 111);
}
.iskljuciSliku{
transition: .5s;
padding: 10px;
margin: 5px auto;
outline: none;
width: 200px;
border-radius: 0;
border: 0px #646464 solid;
border-radius: 20px;
background-color: rgb(220, 220,220);
cursor: pointer;
}
.iskljuciSliku:hover{
    background-color: rgb(111, 111, 111);
}
#brKop{
    width: 70px !important;
    text-align: center;
}

#images{
    display: none;
}
label[for="images"]{
    transition: 0.5s;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    min-height: 10%;
    text-align: center;
    cursor: pointer;
    border: 1px #646464 solid;
    border-radius: 20px;
background-color: rgb(220, 220,220);
transition: .5;
}
label[for="images"]:hover{
    background-color: rgb(111, 111, 111);
}



@media screen and (max-width:1020px) {
    nav .logo{
        font-size: 20px !important;
        margin: -5px;
        padding: 0 5px;
    }
    .container .img,.container .forma{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container .forma input{
      width: 80%;
    }
    .container .forma .naruciSliku{
        max-width: 500px;
        letter-spacing:1px ;
    }
    
}   
@media screen and (max-width:600px) {
.naruci-cena{
    height: 300px;
}
.img .text{
    font-size:var(--font-size-small);
}
}